@CHARSET "UTF-8";

body.responsive-layout-wide li.flexslider-views-slideshow-main-frame-row.flexslider_views_slideshow_slide div.views-field.views-field-field-dfslideshow-image div.field-content img {
	height: 125%;
}
body.responsive-layout-mobile li.flexslider-views-slideshow-main-frame-row.flexslider_views_slideshow_slide div.views-field.views-field-field-dfslideshow-image div.field-content img,
body.responsive-layout-narrow li.flexslider-views-slideshow-main-frame-row.flexslider_views_slideshow_slide div.views-field.views-field-field-dfslideshow-image div.field-content img {
	height: 75%;
}

body.responsive-layout-mobile li.flexslider-views-slideshow-main-frame-row.flexslider_views_slideshow_slide div.views-field.views-field-field-dfslideshow-website-name img.dfwebsite-logo,
body.responsive-layout-narrow li.flexslider-views-slideshow-main-frame-row.flexslider_views_slideshow_slide div.views-field.views-field-field-dfslideshow-website-name img.dfwebsite-logo {
	height: 75%;
	width: 75%;
}

body.responsive-layout-wide li.flexslider-views-slideshow-main-frame-row.flexslider_views_slideshow_slide div.views-field.views-field-field-dfslideshow-website-name img.dfwebsite-logo {
	height: 125%;
	width: 125%;
}