@CHARSET "UTF-8";

div.views-field.views-field-title {
  bottom: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  position: absolute;
  width: 400px;
}

div.views-field.views-field-title a:link,
div.views-field.views-field-title a:visited,
div.views-field.views-field-title a:active,
div.views-field.views-field-title a:hover {
  color: DarkSeaGreen;
  font-family: Arial,Helvetica,Sans-Serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px black;
}

div.views-field.views-field-title a:hover {
  text-decoration: underline;
}

ol.flex-control-nav.flex-control-paging li a.flex-active {
	background: none repeat scroll 0 0 rgba(255, 0, 0, 0.5);
}

ol.flex-control-nav.flex-control-paging li a {
  border-bottom: 2px solid gray;
  border-color: gray;
  border-right: 2px solid gray;
  border-style: solid;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

ol.flex-control-nav.flex-control-paging{
  bottom: 10px;
}

div.views-field.views-field-field-dfslideshow-website-name {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;
  position: absolute;
  top: 15px;
}

div.block.block-views.block-dfbannerslideshow-block.block-views-dfbannerslideshow-block.odd.block-without-title {
    margin-top: 5px;
}

div.block.block-views.contextual-links-region.block-dfbannerslideshow-block.block-views-dfbannerslideshow-block.odd.block-without-title {
  margin-top: 5px;
}

/**************************
 ********* MOBILE *********
 **************************/
body.responsive-layout-mobile div.views-field.views-field-field-dfslideshow-website-name img#dfwebsite_logo {
	height: 100%;
  width: 100%;
}

body.responsive-layout-mobile div.views-field.views-field-field-dfslideshow-website-name {
  width: 45%;
  margin-left: 5px;
  top: 11px;
}

body.responsive-layout-mobile div.views-field.views-field-title {
	bottom: auto;
	bottom: 5px;
	width: 35%;
	font-size: 12px;
}

body.responsive-layout-mobile div.views-field.views-field-title a:link, 
body.responsive-layout-mobile div.views-field.views-field-title a:visited, 
body.responsive-layout-mobile div.views-field.views-field-title a:active, 
body.responsive-layout-mobile div.views-field.views-field-title a:hover {
	font-size: 12px;
}

body.responsive-layout-mobile div#flexslider_views_slideshow_main_dfbannerslideshow-block ol.flex-control-nav.flex-control-paging li a {
	height: 8px;
	width: 8px;
}

body.responsive-layout-mobile div.views-field.views-field-title {
	margin-left: 5px;
}

/**************************
 ********* NARROW *********
 **************************/
body.responsive-layout-narrow div.views-field.views-field-title {
  width: 228px;
  font-size: 16px;
  bottom: 5px;
}

body.responsive-layout-narrow div.views-field.views-field-title a:link, 
body.responsive-layout-narrow div.views-field.views-field-title a:visited, 
body.responsive-layout-narrow div.views-field.views-field-title a:active, 
body.responsive-layout-narrow div.views-field.views-field-title a:hover {
  font-size: 16px;
}

body.responsive-layout-narrow div.views-field.views-field-field-dfslideshow-website-name img#dfwebsite_logo {
	height: 75%;
  width: 75%;
}

body.responsive-layout-narrow div.views-field.views-field-field-dfslideshow-website-name {
	top: 20px;
}

/**************************
 ********* NORMAL *********
 **************************/
body.responsive-layout-normal div.views-field.views-field-title {
  font-size: 18px;
  width: 315px;
}

body.responsive-layout-normal div.views-field.views-field-field-dfslideshow-website-name {
	top: 28px;
}

body.responsive-layout-normal div.views-field.views-field-title a:link, 
body.responsive-layout-normal div.views-field.views-field-title a:visited, 
body.responsive-layout-normal div.views-field.views-field-title a:active, 
body.responsive-layout-normal div.views-field.views-field-title a:hover {
  font-size: 18px;
}

/**************************
 ********** WIDE **********
 **************************/
body.responsive-layout-wide div.views-field.views-field-field-dfslideshow-website-name img#dfwebsite_logo {
	height: 125%;
  width: 125%;
}

body.responsive-layout-wide div.views-field.views-field-field-dfslideshow-website-name {
	top: 35px;
}

body.responsive-layout-wide div.views-field.views-field-title {
  width: 397px;
}
